<main>
	<h1 class="tx-center">Ingresar</h1>
	<form class="grid">
		<mat-form-field appearance="outline">
			<mat-label>Correo electronico</mat-label>
			<input #email matInput type="email" placeholder="Ingresa tu correo electronico" required />
			<button
				mat-icon-button
				matSuffix
				(click)="hide = !hide"
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hide"
				type="button"
			>
				<mat-icon [class.active]="email.value">arrow_circle_right</mat-icon>
			</button>
			@if (true) {
				<mat-error>Requerido</mat-error>
			}
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Contraseña</mat-label>
			<input matInput type="password" placeholder="Ingrese su contraseña" required />
			@if (true) {
				<mat-error>Requerido</mat-error>
			}
		</mat-form-field>
	</form>

	<button class="option" (click)="back()">Volver</button>
</main>
