<header class="flex bet pd-12">
	<app-button [type]="'MINI'" [icon]="'arrow_back_ios'" (click)="back()" />

	@if (select) {
		<button class="option" (click)="save()">Guardar</button>
	}
</header>

<main style="padding-bottom: 44px">
	<h1 class="tx-center">Fecha de Entrega</h1>

	<p class="tx-center my-12">Seleccione el día</p>

	@defer (when calendar().status === complete) {
		<mat-calendar
			[(selected)]="selected"
			(selectedChange)="onDateChange($event)"
			[dateFilter]="filter"
			[minDate]="minDate"
			[maxDate]="maxDate"
			[headerComponent]="calendarHeader"
		></mat-calendar>
	} @placeholder {
		<p class="pd-12">Cargando...</p>
	}

	@if (batches().status !== loading) {
		@defer (when batches().status === complete) {
			<p class="tx-center my-12">En que tanda lo recibiras</p>

			@if (batches().status === complete) {
				<section class="grid gp-12" style="padding: 12px 24px">
					@if (batches().items.length === 0) {
						<p class="tx-center">No hay tandas disponibles</p>
					} @else {
						@for (batch of batches().items; track $index) {
							<button
								class="bd fle col w br-12 pd-12 tx-left gp-8"
								[class.bd-active]="select"
								(click)="
									select?.id === batch.id
										? (select = undefined)
										: (select = { id: batch.id, from: batch.from, to: batch.to })
								"
							>
								<b>{{ batch.title }}</b> de {{ batch.from }} a {{ batch.to }}
							</button>
						}
					}
				</section>
			} @else {
				<p class="pd-12">Cargando...</p>
			}
		} @placeholder {
			<p class="pd-12">Cargando...</p>
		}
	}
</main>
