@if (product) {
	<header class="flex bet pd-12">
		<app-button [type]="'MINI'" [icon]="'arrow_back_ios'" (click)="back()" />

		<div class="flex gp-8">
			<app-button
				[type]="'MINI'"
				[icon]="'shopping_cart'"
				(click)="open('cart')"
				[badge]="cart().count"
				style="padding-right: 4px"
			/>
			@if (!user().logged) {
				<app-button [type]="'MINI'" [icon]="'person'" (click)="login()" />
			}
			<app-button [type]="'MINI'" [icon]="'more_vert'" (click)="open('share')" />
		</div>
	</header>

	<main class="grid gp-16 pd-12">
		<section class="grid gp-16">
			<h1 class="tx-3">{{ product().data.title ?? 'Producto' }}</h1>

			<h2>{{ currency(product().data.price) }}</h2>

			<div #carousel class="carousel">
				@for (image of product().data.images; track $index) {
					<div>
						<img class="img" [src]="image" [alt]="product().data.title ?? 'Imagen sin texto alternativo'" />
					</div>
				}
			</div>

			@if (product().data.images.length > 1) {
				<div class="flex cen gp-12">
					@for (dot of product().data.images; track $index) {
						<button
							type="button"
							class="dot"
							aria-label="Dot"
							[class.active]="$index === index"
							(click)="scrollToImage($index)"
						></button>
					}
				</div>
			}

			<div>
				<div class="flex gp-8">
					<app-button
						[type]="'ICON'"
						[icon]="'local_shipping'"
						color="var(--grey)"
						[loading]="info().status === loading"
					/>
					<p><b>Entrega:</b></p>
				</div>

				<p class="tx-4" style="padding-left: 32px">
					En Inventario:
					<strong>
						{{
							product().data.stock !== 0
								? product().data.stock === -1
									? 'Sin limite.'
									: product().data.stock + ' tallos.'
								: 'Cargando...'
						}}
					</strong>
					<br />
					@if (info().status === complete) {
						@if (info().data.calendar && info().data.direction) {
							Se envía el <strong>{{ date(info().data.calendar, info().data.from, info().data.to) }}</strong> o puedes
							pasarlo a buscar en <strong>{{ info().data.direction }}</strong
							>.
						} @else {
							@if (info().data.calendar) {
								Se envía el <strong>{{ date(info().data.calendar, info().data.from, info().data.to) }}.</strong>
							}
							@if (info().data.direction) {
								Puedes pasarlo a buscar en <strong>{{ info().data.direction }}.</strong>
							}
						}
					}
				</p>
			</div>

			<app-button
				[type]="'XR'"
				[label]="
					product().status === loading && product().data.check === -1
						? 'Agregando...'
						: product().data.check === 0
							? 'Agregar al Carrito'
							: 'En el carrito'
				"
				(click)="add()"
			/>
		</section>

		@defer (when product().status === complete) {
			@if (product().data.details.length) {
				@if (product().data.details!.length > 0) {
					<mat-accordion class="expansion-panel-pd">
						<mat-expansion-panel
							(opened)="panelOpenState = true"
							(closed)="panelOpenState = false"
							togglePosition="after"
							style="box-shadow: none"
							[expanded]="true"
							hideToggle
							class="expansion-panel-content"
						>
							<mat-expansion-panel-header style="padding: 0; height: 48px">
								<mat-panel-title class="fle bet">
									Información del Producto
									<mat-icon [@openClose]="panelOpenState ? 'open' : 'closed'">keyboard_arrow_up</mat-icon>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div [class.expansion-panel-body]="panelOpenState">
								@for (product of product().data.details; track $index) {
									<article class="my-12">
										@if (product.title) {
											<h3>{{ product.title }}</h3>
											<hr class="my-12" />
										}
										@if (product.image) {
											<img
												class="portal br-12"
												[src]="product.image"
												[alt]="product.title ?? 'Imagen sin texto alternativo'"
											/>
										}
										<p class="tx-visible">{{ product.description }}</p>
									</article>
								}
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				}
			}
		}
	</main>
}
