h1 {
	font-size: 17px;
	font-weight: 600;
}

h2 {
	font-size: 31px;
	font-weight: 400;
}

/* ! CHECK */
/* strong {
	font-size: 17px;
	font-weight: 600;
} */

main {
	gap: 24px;
}

main section button img {
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	object-fit: cover;
}

hr {
	background-color: var(--grey-light);
	border: none;
	height: 1px;
	margin: 0 -12px;
}

.disabled,
.disabled * {
	color: var(--grey-light);
}
