<header class="flex bet pd-12">
	<app-button [type]="'ICON'" [icon]="'arrow_back_ios'" />
	<app-button [type]="'ICON'" [icon]="'more_vert'" />
</header>

<main class="grid gp-12 pd-12">
	<section class="grid gp-8" style="grid-template-columns: 1fr max-content">
		<div class="flex">
			<img src="https://via.placeholder.com/300" alt="Imagen del comerciante" />
			<h1>Nombre del comerciante</h1>
		</div>

		<div>
			<h2 class="tx-visible tx-right">
				<span>Factura</span><br />
				Septiembre 04, 2024
			</h2>
		</div>
	</section>

	<p><b>ID Venta:</b> 20240101MV012N365</p>

	<p><b>Comprador:</b> CompradorID</p>

	<section class="grid gp-12 pd-12 br-12" style="border: 1px solid #e0e0e3">
		<button>
			<img src="https://via.placeholder.com/300" alt="Imagen del producto" />
			<b>ArticuloID</b>
			$99.999,99
		</button>

		<hr style="background-color: #e0e0e3; border: none; height: 1px; margin: 0 -12px" />

		<button>
			<img src="https://via.placeholder.com/300" alt="Imagen del producto" />
			<b>ArticuloID</b>
			$99.999,99
		</button>
	</section>
</main>
