h1 {
	font-size: 17px;
	font-weight: 600;
}

h2 {
	font-size: 31px;
	font-weight: 400;
	color: #707070;
}

h3,
strong {
	font-size: 17px;
	font-weight: 600;
}

main {
	gap: 24px;
}

article {
	& div img {
		aspect-ratio: 1/1;
		height: 48px;
		width: 48px;
		object-fit: cover;
	}

	& div p {
		color: var(--grey);
	}
}
