<header class="flex bet pd-12">
	<app-button [type]="'MINI'" [icon]="'arrow_back_ios'" (click)="redirect('')" />
	<app-button [type]="'MINI'" [icon]="'more_vert'" (click)="open('share')" />
</header>

@defer (when invoice().status === complete) {
	<main class="grid pd-0-12" style="padding-bottom: 44px">
		<article class="grid gp-8">
			<h2 class="tx-left tx-visible">Factura</h2>
			<p>{{ invoice().data.code }}</p>
		</article>

		<section class="grid gp-8 bd pd-12 br-4">
			<p class="orange">{{ invoice().data.status === 'PENDING' ? 'Pendiente' : 'Completa' }}</p>
			<p><strong>Comprador:</strong> {{ invoice().data.user }}</p>
			<p>{{ date(invoice().data.reservation) }}</p>
		</section>

		<section class="grid gp-12 bd pd-12 br-4">
			@for (product of invoice().data.products; track $index) {
				@if ($index < 3) {
					@if ($index === 1 || $index === 2) {
						<hr />
					}

					<button class="grid gp-12 w tx-left" style="grid-template-columns: 80px 1fr">
						@if (product.image) {
							<img class="br-4" [src]="product.image" alt="Imagen del producto" />
						} @else {
							<div class="br-4 w h" style="background-color: var(--grey-light)"></div>
						}

						<div class="grid h gp-8" style="grid-template-rows: repeat(2, 1fr)">
							<p class="orange">Cantidad: {{ product.quantity }}</p>
							<b>{{ product.title }}</b>
							<p>{{ currency(product.price) }}</p>
						</div>
					</button>
				}
			}

			<hr />

			<p class="flex bet"><strong>Total: </strong>{{ currency(invoice().data.total) }}</p>
		</section>

		<section class="grid gp-12 bd pd-12 br-4">
			<button class="tx-left disabled">
				<strong>Costo de la Venta(Egresos)</strong>
				<p>Lleva el control de tus inversiones</p>
			</button>

			<hr />

			<button type="button" class="tx-left">
				<p>
					<strong>{{ invoice().data.status === 'PENDING' ? 'Pago por confirmar' : 'Pago confirmado' }}</strong>
				</p>
				<p>Desde {{ invoice().data.reservation }}</p>
			</button>

			<hr />

			<button type="button" class="tx-left" (click)="open('dmessage')">
				<p>
					<strong>Dedicatoria de Regalo</strong>
				</p>
				<p>Dedicatoria virtual. Dedicatoria tradicional.</p>
			</button>

			<hr />

			<button type="button" class="tx-left">
				<p>
					<strong>Fecha de entrega</strong>
				</p>
				<p>{{ date(invoice().data.reservation, invoice().data.batchFrom, invoice().data.batchTo) }}</p>
			</button>

			<hr />

			<button type="button" class="tx-left" (click)="open('map')">
				<p>
					<strong>{{
						invoice().data.reservationType === 'DELIVERY' ? 'Dirección de entrega' : 'Dirección de la tienda'
					}}</strong>
				</p>
				<p>{{ invoice().data.addressDirection }}</p>
			</button>

			<!-- @if (invoice().data.user !== invoice().data.merchant) {
				<hr style="background-color: var(--grey-light); border: none; height: 1px; margin: 0 -12px" />
				<button class="tx-left">
					<p>
						<strong> Escribe una nota para ti </strong>
					</p>
					<p>Solo tu la podrás ver</p>
				</button>
			} @else {
				<hr style="background-color: var(--grey-light); border: none; height: 1px; margin: 0 -12px" />
				<button class="tx-left">
					<p>
						<strong> Chats con {{ getName() }} </strong>
					</p>
					<p>ElultimomensajeID</p>
				</button>
			} -->
		</section>
	</main>
} @placeholder {
	<app-loading />
}
