img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: contain;
}

h1 {
	font-size: 17px;
	font-weight: 400;
}

h2 {
	font-size: 15px;
	font-weight: 400;
}

h2 span {
	font-size: 31px;
}
