<header class="flex bet pd-12">
	<app-button [type]="'MINI'" [icon]="'arrow_back_ios'" (click)="redirect('')" />
	<app-button [type]="'MINI'" [icon]="'more_vert'" (click)="open('share')" />
</header>

@defer (when invoice().status === complete) {
	<main class="grid pd-0-12" style="padding-bottom: 44px">
		<article class="flex bet">
			<div class="flex gp-8">
				<img class="br-50" src="/assets/images/dlicianthus.jpg" alt="Dlicianthus, tienda floral." />
				<h1>Dlicianthus</h1>
			</div>

			<div>
				<h2 class="tx-right">Factura</h2>
				<p style="color: #707070">Enero 04, 2024</p>
			</div>
		</article>

		<section class="grid gp-16">
			<p><strong>ID Venta:</strong> {{ invoice().data.code }}</p>
			<p><strong>Comprador:</strong> {{ invoice().data.user }}</p>
		</section>

		<section class="grid gp-12 bd pd-12 br-12">
			@for (product of invoice().data.products; track $index) {
				@if ($index < 3) {
					@if ($index === 1 || $index === 2) {
						<hr style="background-color: var(--grey-light); border: none; height: 1px; margin: 0 -12px" />
					}
					<button class="grid gp-12 w tx-left" style="grid-template-columns: 60px 1fr">
						@if (product.image) {
							<img
								class="br-12"
								[src]="product.image"
								alt="Imagen del producto"
								style="width: 60px; height: 60px; aspect-ratio: 1/1; object-fit: cover"
							/>
						} @else {
							<div class="br-12" style="width: 60px; height: 60px; background-color: var(--grey-light)"></div>
						}
						<div class="grid h" style="grid-template-rows: repeat(2, 1fr)">
							<p>
								<b>{{ product.title }}</b>
							</p>
							<div class="fle bet">
								<p style="color: var(--grey)">Cantidad: {{ product.quantity }}</p>
								<p>{{ currency(product.price) }}</p>
							</div>
						</div>
					</button>
				}
			}
		</section>

		<section class="flex bet">
			<h3><strong>Total</strong></h3>
			<p>{{ currency(invoice().data.total) }}</p>
		</section>

		<button class="option flex gp-8" (click)="open('voucher')">
			<app-button [type]="'ICON'" [icon]="'image'" color="var(--violet)" />
			{{ invoice().data.status === 'PENDING' ? 'Pago por confimar' : 'Pago confirmado' }}
		</button>

		<button class="flex bet">
			<p><strong>Dedicatoria de Regalo</strong></p>
			<p class="option">Ver</p>
		</button>

		<button class="flex bet" (click)="open('map')">
			<p><strong>Dirección y contacto de entrega</strong></p>
			<p class="option">Ver</p>
		</button>
	</main>
} @placeholder {
	<app-loading />
}
