<header class="flex bet pd-12">
	<button class="flex" (click)="back()">
		<app-button [type]="'MINI'" [icon]="'arrow_back_ios'" />
		Artículos que comprarás
	</button>

	@if (!user().logged) {
		<app-button [type]="'MINI'" [icon]="'person'" (click)="redirect('auth')" />
	}
</header>

<main class="grid gp-16 pd-12" style="padding-bottom: 44px">
	<h1>Revisa lo que comprarás.</h1>

	<p style="padding-bottom: 12px">Entrega gratis en algunas zonas.</p>

	@for (product of order().data.products.items; track $index) {
		@if (product.image) {
			<img class="br-12" [src]="product.image" [alt]="product.title ?? 'Imagen sin texto alternativo.'" />
		} @else {
			<div class="no-image br-12 grid">Sin imagen</div>
		}

		<div class="flex bet">
			<h2>{{ product.title }}</h2>
			<button (click)="change(product.id, 0)">Eliminar</button>
		</div>

		<div class="flex bet">
			<div class="grid bd br-12" style="grid-template-columns: repeat(3, 1fr); border-radius: 36px">
				<app-button
					[type]="'MINI'"
					[icon]="'remove'"
					[color]="product.quantity === 1 ? '#c3c3c3' : '#000'"
					(click)="product.quantity > 1 ? change(product.id, product.quantity - 1) : null"
				/>
				<p class="tx-visible tx-center">{{ product.quantity }}</p>
				<app-button
					[type]="'MINI'"
					[icon]="'add'"
					[color]="product.stock !== -1 && product.stock <= product.quantity ? '#c3c3c3' : '#000'"
					(click)="
						product.quantity < product.stock || product.stock === -1 ? change(product.id, product.quantity + 1) : null
					"
				/>
			</div>
			<h3 style="min-width: max-content">{{ currency(product.price) }}</h3>
		</div>
	}

	<div class="flex gp-8">
		<app-button [type]="'ICON'" [icon]="'local_shipping'" color="var(--grey)" />
		<p>En Inventario y listo para entregar</p>
	</div>

	<div class="flex gp-8">
		<app-button [type]="'ICON'" [icon]="'store'" color="var(--grey)" />
		<p>Puedes buscarlo por la tienda</p>
	</div>

	<div class="flex bet">
		<p><b>Total</b></p>
		@if (order().status === 'COMPLETE') {
			<p>
				<b>{{ currency(order().data.total) }}</b>
			</p>
		} @else {
			<p>Cargando...</p>
		}
	</div>

	<section class="grid gp-12 bd pd-12 br-12">
		<button class="grid gp-8 w tx-left" style="grid-template-columns: 1fr max-content" (click)="redirect('message')">
			<div class="fle col gp-8">
				<p class="w"><b>Dedicatoria de Regalo</b></p>
				<p class="w">{{ order().data.message.data ?? 'Añade un texto de dedicatoria' }}</p>
			</div>
			<app-button [type]="'ICON'" [icon]="order().data.message.data ? 'edit' : 'arrow_forward_ios'" />
		</button>

		<hr style="background-color: var(--grey-light); border: none; height: 1px; margin: 0 -12px" />

		<button class="grid gp-8 w tx-left" style="grid-template-columns: 1fr max-content" (click)="redirect('calendar')">
			<div class="fle col gp-8">
				<p class="w">
					<b>Fecha de Entrega</b>
				</p>
				<p class="w tx-visible tx-2">
					{{ order().data.calendar.data.reservation ?? 'Selecciona una fecha de entrega' }}
				</p>
			</div>
			<app-button [type]="'ICON'" [icon]="order().data.calendar.data.id ? 'edit' : 'arrow_forward_ios'" />
		</button>

		<hr style="background-color: var(--grey-light); border: none; height: 1px; margin: 0 -12px" />

		<button class="grid gp-8 w tx-left" style="grid-template-columns: 1fr max-content" (click)="redirect('address')">
			<div class="fle col gp-8">
				<!-- <p class="w required">Requerido</p> -->
				<p class="w"><b>Dirección de Entrega </b></p>
				<p class="w tx-visible tx-2">
					{{ order().data.address.data.direction ?? 'Añade o selecciona la dirección de entrega' }}
				</p>
			</div>
			<app-button [type]="'ICON'" [icon]="order().data.address.data.direction ? 'edit' : 'arrow_forward_ios'" />
		</button>
	</section>

	<app-button
		[type]="'XR'"
		[label]="order().data.address.data.direction ? 'Ir a pagar ' + currency(order().data.total) : 'Dirección requerida'"
		(click)="order().data.address.data.direction ? redirect('payments') : redirect('address')"
		[disabled]="order().data.address.data.direction ? false : true"
	/>
	<!-- [label]="order().status === 'LOADING' ? 'Cargando...' : 'Ir a pagar ' + currency(order().data.total)" -->
</main>
