<header class="fle bet pd-12">
	<app-button [type]="'MINI'" [icon]="'arrow_back_ios'" (click)="back()" />
	@if (
		form.get('textarea')?.valid && form.get('textarea')?.value !== message().message && form.get('textarea')?.value
	) {
		<button (click)="save()">Guardar</button>
	}
</header>
<main class="grid gp-12 pd-12">
	<h1>Dedicatoria de regalo</h1>

	<form [formGroup]="form">
		<mat-form-field appearance="outline" class="w">
			<mat-label>Mensaje</mat-label>
			<textarea
				matInput
				cdkTextareaAutosize
				#autosize="cdkTextareaAutosize"
				cdkAutosizeMinRows="10"
				cdkAutosizeMaxRows="15"
				formControlName="textarea"
				placeholder="Escribe el mensaje de dedicatoria..."
				minlength="3"
				maxlength="255"
			>
			</textarea>
			@if (form.get('textarea')?.invalid && form.get('textarea')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('textarea')!) }}</mat-error>
			}
		</mat-form-field>
	</form>

	<div class="flex gp-8 w bd br-12 pd-12" style="background: var(--grey-light)">
		<app-button [type]="'ICON'" [icon]="'lock_open'" /> Contenido en la tarjeta impresa
	</div>
</main>
