h1 {
	font-size: 17px;
}

.menu {
	font-weight: 600;
	font-size: 15px;

	& mat-icon {
		display: grid;
		place-items: center;
		width: fit-content;
		height: fit-content;
	}
}

.product {
	background-color: #f5f5f5;
	flex-direction: column;
	justify-content: center;
	padding: 24px 12px;

	&__title {
		font-size: 16px;
		font-weight: 600;
	}
}

.no-image {
	width: calc((100vw / 2) - 28px);
	height: calc((100vw / 2) - 28px);
	background-color: var(--white);
	place-items: center;
}
