@defer (when address().status === complete) {
	<div class="box">
		<header class="grid gp-16">
			<h1 class="tx-visible tx-center" style="padding-top: 24px">Dirección de entrega</h1>
			<p class="tx-visible">{{ address().direction }}</p>
		</header>
		<main class="w" style="padding: 24px 0 36px 0">
			<google-map height="100%" width="100%" [center]="config.center" [zoom]="config.zoom" [options]="config.options">
				<map-marker [position]="{ lat: address().lat, lng: address().lng }" />
			</google-map>
		</main>
	</div>
} @placeholder {
	<app-loading />
}
