@if (cart().products.status !== 'LOADING') {
	<header class="grid gp-12" style="padding: 24px 0">
		@if (cart().products.items.length > 0) {
			<h1 class="tx-visible">Artículos a comprar</h1>
		} @else {
			<h1 class="tx-visible">No tienes artículos a comprar</h1>
			<p class="tx-visible">Ingresa a tu cuenta o continua comprando en la tienda</p>
		}
	</header>

	<main class="grid gp-16 overflow-y">
		@if (cart().products.items.length === 0) {
			@if (!user().logged) {
				<app-button [type]="'XR'" label="Ingresar a mi cuenta" (click)="redirect('auth')" />
			}
			<app-button
				[type]="'XR'"
				label="Continuar comprando"
				color="#000"
				background="#E8E8E8"
				(click)="redirect('shop')"
			/>
		} @else {
			<section class="grid gp-12 bd pd-12 br-12">
				@for (product of cart().products.items; track $index) {
					@if ($index < 3) {
						@if ($index === 1 || $index === 2) {
							<hr style="background-color: var(--grey-light); border: none; height: 1px; margin: 0 -12px" />
						}
						<button
							class="grid gp-12 w tx-left"
							style="grid-template-columns: 60px 1fr"
							(click)="redirect('product', product.id)"
						>
							@if (product.image) {
								<img
									class="br-12"
									[src]="product.image"
									alt="Imagen del producto"
									style="width: 60px; height: 60px; aspect-ratio: 1/1; object-fit: cover"
								/>
							} @else {
								<div class="br-12" style="width: 60px; height: 60px; background-color: var(--grey-light)"></div>
							}
							<div class="grid h" style="grid-template-rows: repeat(2, 1fr)">
								<p>
									<b>{{ product.title }}</b>
								</p>
								<div class="fle bet">
									<p style="color: var(--grey)">Cantidad: {{ product.quantity }}</p>
									<p>{{ currency(product.price) }}</p>
								</div>
							</div>
						</button>
					}
				}
			</section>

			@if (cart().count > 3) {
				<h2 class="tx-center tx-visible grid gp-8" style="grid-template-rows: repeat(2, 1fr)">
					<div>¡{{ cart().count - 3 }} articulos más a comprar,</div>
					<div style="color: #f80eb6">solo muestra 3 articulos!</div>
				</h2>
			}

			<app-button [type]="'XR'" label="Revisa lo que comprarás" (click)="redirect('order')" />

			<section class="grid gp-16">
				<h3 style="color: var(--grey)">Mi Perfil</h3>
				@if (user().logged) {
					<!-- <button type="button" class="flex gp-8" style="color: var(--grey)">
						<app-button [type]="'ICON'" [icon]="'settings'" color="var(--grey)" /> Tu Cuenta
					</button> -->

					<button class="flex gp-8" style="color: var(--grey)" (click)="logout()">
						<app-button [type]="'ICON'" [icon]="'logout'" color="var(--grey)" /> Cerrar Sesión
					</button>
				} @else {
					<button class="flex gp-8" style="color: var(--grey)" (click)="redirect('auth')">
						<app-button [type]="'ICON'" [icon]="'person'" color="var(--grey)" /> Ingresar
					</button>
				}
			</section>
		}
	</main>
} @else {
	<app-loading />
}
