<div class="grid" style="place-items: center">
	<div class="flex col gp-16">
		<button (click)="clear()">Limpiar</button>
		<button (click)="redirect()">Inicio</button>
	</div>
</div>

<!-- <div class="box" style="grid-template-rows: max-content, 1fr, max-content">
	<header class="flex bet gp-8 pd-12">
		<div class="flex gp-8">
			<mat-icon style="color: #c3c3c3">menu</mat-icon>
			<h1 style="font-size: 17px">LAIA de la Industria Floral</h1>
		</div>
		<div class="flex gp-8">
			<mat-icon>account_circle</mat-icon>
			<mat-icon>share</mat-icon>
		</div>
	</header>

	<main class="grid gp-16 pd-12">
		<article class="flex bet bd br-12 pd-12 disabled">
			<div class="flex gp-8">
				<mat-icon>done_all</mat-icon>
				ID
			</div>
			<mat-icon>mic</mat-icon>
		</article>

		<section class="fle col gp-8">
			@for (item of options; track $index) {
				<button
					type="button"
					class="grid pd-12 bd br-12 tx-left"
					style="grid-template-columns: max-content 1fr max-content; padding: 16px"
					[class.disabled]="item.disabled"
				>
					<div>
						<mat-icon style="transform: scale(1.3)">{{ item.icon }}</mat-icon>
					</div>

					<div
						class="grid"
						style="grid-template-rows: repeat(2, minmax(22.5px, max-content)); gap: 4px; padding-left: 16px"
					>
						<b class="tx-visible">{{ item.title }}</b>
						<p class="tx-visible">{{ item.subtitle }}</p>
					</div>

					<mat-icon>arrow_forward_ios</mat-icon>
				</button>
			}
		</section>
	</main>

	<footer class="grid" style="grid-template-columns: repeat(2, 1fr)">
		<button type="button" class="flex col cen gp-8">
			<mat-icon>storefront</mat-icon>
			Vendes
		</button>

		<button type="button" class="flex col cen disabled">
			<mat-icon>storefront</mat-icon>
			Compras
		</button>
	</footer>
</div> -->

<!-- @case ('ADD-INFO') {
				<h2>¡Bienvenido!</h2>

				<p>¿Te gustaria añadir mas datos?</p>

				<a>Lo haré después<mat-icon>keyboard_arrow_right</mat-icon></a>

				<div class="content-input">
					<mat-form-field appearance="outline">
						<mat-label>Nombre</mat-label>
						<input #mail matInput formControlName="name" placeholder="Ingrese su nombre" />
						@if (form.get('name')?.invalid && form.get('name')?.touched) {
							<mat-error>{{ getErrorMessage(form.get('name')!) }}</mat-error>
						}
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Apellido</mat-label>
						<input matInput placeholder="Ingrese su apellido" />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Telefono</mat-label>
						<input #mail matInput placeholder="Ingrese su numero de telefono" />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Adiciona una contraseña</mat-label>
						<input #mail matInput placeholder="Ingrese su contraseña adicional" />
					</mat-form-field>
				</div>
				@if (form.get('name')?.valid) {
					<app-button [type]="'XR'" label="Guardar y continuar"></app-button>
				}
				<div style="position: absolute; bottom: 0; margin-bottom: 7%; width: 70%">
					Te enviamos el acceso <br />directo a tu correo.
				</div>
			}
			@case ('PROFILE') {
				<h4 class="pb-4">ejemplogmail.com</h4>
				<div class="profile">
					<img src="https://placehold.co/200x200" alt="img" />
				</div>
				<h2>¡Hola, NombreID!</h2>
				<a href="">Administra tu perfil<mat-icon class="shared">open_in_new</mat-icon> </a>
				<mat-accordion>
					<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
						<mat-expansion-panel-header>
							<mat-panel-title> <h4>Ocultar más cuentas</h4> </mat-panel-title>
						</mat-expansion-panel-header>
						<div class="content-expand pb-4">
							<img src="https://placehold.co/200x200" alt="img" />
							<div>
								<p class="tf">MerchantID</p>
								<p class="tf">ejemplocorreo.com</p>
							</div>
						</div>
						<div class="content-expand">
							<img src="https://placehold.co/200x200" alt="img" />
							<div>
								<p class="tf">MerchantID2</p>
								<p class="tf">ejemplocorreo.com2</p>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>

				<div class="options">
					<h4 class="tf">Agregar otra cuenta</h4>
					<mat-icon class="fs-29 cg">add</mat-icon>
					<h4 class="tf">Salir de todas las cuentas</h4>
					<mat-icon class="cg">logout</mat-icon>
				</div>
			} -->
