button,
img {
	width: 270px;
	height: 270px;
}

.update {
	border: 2px solid var(--grey);
	border-style: dashed;
	color: var(--grey);

	& p {
		font-size: 148px;
		margin-bottom: 20px;
	}
}

.delete,
.success,
.loading {
	position: absolute;
	right: 0;
}

.delete {
	bottom: 0;
}

.success,
.loading {
	bottom: 48px;
	margin-bottom: 12px;
}

.loading {
	width: 36px;
	height: 36px;
}
