<header style="padding: 24px 0">
	<h1 class="tx-center tx-visible">Comprobante de pago</h1>
</header>

<main class="grid" style="place-items: center">
	@if (!image) {
		<button
			type="button"
			aria-label="Subir imagen"
			class="w h grid br-12 update"
			style="place-items: center"
			(click)="onClickInput()"
		>
			<p>+</p>
		</button>
	} @else {
		<div class="w h grid" style="position: relative; place-items: center">
			<img [src]="image" alt="Comprobante de pago" />
			<app-button
				class="delete"
				[type]="'MINI'"
				[icon]="'delete'"
				[color]="invoice().status === loading ? 'var(--grey-light)' : '#fff'"
				[background]="invoice().status === loading ? 'var(--grey)' : 'red'"
				(click)="reset()"
			/>
			@if (imageChanged) {
				<app-button
					class="success"
					[type]="'MINI'"
					[icon]="'done'"
					color="#fff"
					background="var(--violet)"
					(click)="save()"
				/>
			} @else {
				@if (invoice().status === loading) {
					<div class="loading grid" style="place-items: center">
						<app-loading />
					</div>
				}
			}
		</div>
	}

	<input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/png, image/jpeg" />
</main>
