<div class="box">
	<header class="flex bet" style="padding: 8px 12px 0">
		<app-button [type]="'ICON'" [icon]="'close'" color="var(--grey)" (click)="back()" />
		@if (image) {
			<button>Confirmar el pago</button>
		}
	</header>

	<main class="pd-24" [class.image]="!mode">
		@if (mode) {
			<h1 class="tx-center">¿Cómo pagaras tu compra?</h1>

			<h2 class="tx-center">Selecciona el método de pago</h2>

			<section class="grid gp-12 pd-12 br-12" style="border: 1px solid #e0e0e3">
				<button class="grid gp-12 w tx-left" style="grid-template-columns: 1fr max-content">
					<div class="flex-col">
						<p class="w"><b>Transferencia Bancaria</b></p>
						<p class="w">En el Banco Popular</p>
					</div>
					<app-button [type]="'ICON'" [icon]="'arrow_forward_ios'" />
				</button>

				<!-- <hr style="background-color: #e0e0e3; border: none; height: 1px; margin: 0 -12px" /> -->
			</section>
		} @else {
			<div>
				<h1>Transferencia Bancaria</h1>
				<p>En el Banco Popular</p>
			</div>

			<p class="tx-visible text my-12">
				Por favor transfiera en el <b>Banco Popular</b>, cuenta <b>4156 4521 451</b> y suba aquí una foto de la
				pantalla.
			</p>

			<section class="grid w h br-12" style="place-items: center">+</section>
		}
	</main>
</div>
