<div class="box" [class.three]="!user().logged">
	<header class="grid gp-16 pd-12">
		<nav class="flex bet">
			<app-button [type]="'MINI'" [icon]="'arrow_back_ios'" (click)="back()" />

			@if (
				(mode === 'DELIVERY' && !user().logged && addresses().items.length > 0) ||
				(mode === 'PICK-UP' && merchant().status === complete) ||
				(mode === 'DELIVERY' && selected)
			) {
				<button class="option" (click)="save()">Guardar</button>
			}
		</nav>

		<h1 class="tx-center">Dirección de entrega</h1>

		<p class="tx-center tx-visible">Selecciona la forma de entrega</p>

		<section class="grid btns" style="grid-template-columns: repeat(2, 1fr)">
			<button class="bd" style="padding: 16px 8px" [class.bd-active]="mode === 'DELIVERY'" (click)="select('DELIVERY')">
				Envio a domiciilio
			</button>

			<button class="bd" style="padding: 16px 8px" [class.bd-active]="mode === 'PICK-UP'" (click)="select('PICK-UP')">
				Retirar en la tienda
			</button>
		</section>
	</header>

	<main class="fle col gp-16 pd-12" [style.padding-top]="mode === 'DELIVERY' ? '0px' : '12px'">
		@defer (when mode === 'DELIVERY') {
			@if (mode === 'DELIVERY') {
				@if (user().logged) {
					@defer (when user().logged && addresses().status === complete) {
						<button class="fle option tx-right" (click)="open('maps')" style="justify-content: flex-end">
							Nueva dirección
						</button>

						@if (addresses().items.length === 0) {
							<p class="tx-center">No tienes direcciones guardadas</p>
						} @else {
							@for (address of addresses().items; track $index) {
								<button
									class="grid gp-8 bd br-12 pd-12 tx-left"
									[class.bd-active]="selected?.id === address.id"
									(click)="selected = address"
								>
									<div class="flex bet">
										<b>Dirección de envio</b>
										<app-button
											[type]="'ICON'"
											[icon]="'local_shipping'"
											[color]="selected?.id === address.id ? 'var(--violet)' : ''"
										/>
									</div>
									<p class="tx-2 tx-left">{{ address.direction }}</p>
								</button>
							}
						}
					} @placeholder {
						<div class="h w">
							<app-loading [transform]="'1.5'" />
						</div>
					}
				}

				@defer (when !user().logged) {
					@if (!user().logged && addresses().items.length === 0) {
						<button class="flex bet bd br-12 pd-12 tx-left" (click)="open('maps')">
							<b style="font-size: 15px">Elige una dirección</b>
							<app-button [type]="'ICON'" [icon]="'location_on'" />
						</button>
					}

					@if (!user().logged && addresses().items.length === 1) {
						<button class="grid gp-8 bd br-12 pd-12 tx-left bd-active" (click)="open('maps')">
							<div class="flex bet">
								<b>Dirección de envio</b>
								<app-button [type]="'ICON'" [icon]="'local_shipping'" color="var(--violet)" />
							</div>
							<p class="tx-2 tx-left">{{ addresses().items[0].direction }}</p>
						</button>
					}
				}
			}
		}

		@defer (when mode === 'PICK-UP') {
			@if (mode === 'PICK-UP') {
				@if (merchant().status === complete) {
					@for (address of merchant().items; track $index) {
						<button class="grid gp-8 tx-left bd br-12 pd-12 bd-active">
							<div class="flex bet">
								<b>Dirección de la tienda</b>
								<app-button [type]="'ICON'" [icon]="'store'" color="var(--violet)" />
							</div>
							<p class="tx-2">{{ address }}</p>
						</button>
					}
				} @else {
					<div class="h w">
						<app-loading [transform]="'1.5'" />
					</div>
				}
			}
		}
	</main>

	@defer (when mode === 'DELIVERY' && !user().logged) {
		@if (mode === 'DELIVERY' && !user().logged) {
			<footer class="grid pd-12">
				<button class="flex cen gp-8 pd-12" style="color: var(--violet)" (click)="redirect('auth')">
					<app-button [type]="'ICON'" [icon]="'person'" color="var(--violet)" />
					Mira tus direcciones guardadas
				</button>
			</footer>
		}
	}
</div>
